{% extends 'base.html'%}
{% block content %}
    <div class="container-sm align-content-md-center">
    <h4 class="text-warning text-center">Please Login to Continue!</h4>
    <form method="post">
        {% csrf_token %}
        <div class="align-content-center">
                    <div class="col-sm-2">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" name="user_name" id="exampleFormControlInput1"
                 placeholder="Enter your Username">
        </div>
        <div class="col-sm-2">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleFormControlInput1"
                 placeholder="Enter Password">
        </div>
            <br>
        <input type="submit" class="btn-primary align-items-center" value="Login">
        </div>
    </form>
    </div>
{% endblock %}